*{
    padding:0px;
    margin:0px;
}
body{
    font-family: "Poppins", sans-serif;
}
#count-container{
    background-color: white;
    width:500px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    border-radius: 10px;
    border:2px black solid;
    margin:20px;
}
#button{
    display: flex;
    gap:10px;
}
#button button{
    padding: 5px 10px 5px 10px;
    background-color: rgb(74, 108, 243);
    color:white;
    font-weight: bold;
    font-size: 20px;
    border:none;
    border-radius: 5px;
}
#reach{
    color:red;
}
#count{
    margin-top: 50px;
    color:rgb(233, 20, 201)
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/image.avif);
    height: 100vh;
}
#value{
    background-color: red;
    color: white;
    height:50px;
    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}